
ion-list{--ion-border-color: #10b5ac; }
ion-content{
    --ion-background-color:#ce842f;
    --ion-item-background: #df9e12;
}

ion-toolbar{
    --ion-toolbar-background: #2855e9;
}


ion-item{
    --ion-item-background:#df9e12;
    
}