
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/inicio"
        text="Volver"
        color="primary"
        mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-avatar>
        <ion-img src="/assets/img/logo.jpg"></ion-img>
      </ion-avatar>
    </ion-buttons>
    <ion-title>Mapa satelital</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Mapa</ion-card-subtitle>
      <ion-card-title>Mapa satelital </ion-card-title>
    </ion-card-header>

    <ion-card-content text-color="primary">
     Aqui podras ver la ubicacion de cada uno de los moviles y cuanto tiempo se demoraran en encontrarte.
       <br> (para donar solo haz click en la imagen)
    </ion-card-content>
    <br>
    <br>
    <a href="https://www.google.com/maps/@-33.5113982,-70.7533852,17z" target="_blank"><ion-img src="/assets/img/maipu.png" ></ion-img></a>
  </ion-card>
</ion-content>
