<ion-header>
  <ion-toolbar color="secondary" [class.show-background]="showToolbar">
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-avatar>
        <ion-img src="/assets/img/logo.jpg"></ion-img>
      </ion-avatar>
    </ion-buttons>
    <ion-title>Iniciar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="form">
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input [(ngModel)]='email'></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="floating" > Contraseña</ion-label>
      <ion-input [(ngModel)]="password" type="password" name="password"></ion-input>
    </ion-item>
    <ion-button (click)="login()" href="/inicio"  expand="block">
      Entrar
    </ion-button>
    <br>
    <ion-item href="/register" >
      <ion-icon  ></ion-icon>
      <ion-label>Crear usuario</ion-label>
    </ion-item>  
    <ion-item href="/password" >
      <ion-icon ></ion-icon>
      <ion-label>Recuperar Contraseña</ion-label>
    </ion-item> 
  </div>
</ion-content>
