<ion-header>
  <ion-toolbar color="secondary" [class.show-background]="showToolbar">
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-avatar>
        <ion-img src="/assets/img/logo.jpg"></ion-img>
      </ion-avatar>
    </ion-buttons>
    <ion-title>Iniciar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="form">
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input [(ngModel)]='email'></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input [(ngModel)]='password'></ion-input>
    </ion-item>
    <ion-button (click)="login()" expand="block">
      Login
    </ion-button>
    <br>
    <ion-item href="/register" >
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-label>Crear usuario</ion-label>
    </ion-item>  
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/password"
        text="Recuperar Contraseña"
        color="primary"
        mode="ios">
      </ion-back-button>
    </ion-buttons>
  </div>
</ion-content>
