ion-content{
    --ion-background-color:#ce842f;
    --ion-item-background: #df9e12;
}

ion-toolbar{
    --ion-toolbar-background: #2855e9;
}


ion-item{
    --ion-item-background:#df9e12;
    
}

ion-card{
    --ion-card-background: #b69773;
}

.form{
    margin-top: 200px;
}