<ion-header>
  <ion-toolbar color="secondary" [class.show-background]="showToolbar">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/login"
        text="Volver"
        color="primary"
        mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-avatar>
        <ion-img src="/assets/img/logo.jpg"></ion-img>
      </ion-avatar>
    </ion-buttons>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" >
<div class="card">
  <div class="card-body">
    <h3 class="card-title text-center">Please enter your email</h3>
    <div class="from-group">
      <input type="email" class="form-control" [formControl]="userEmail"required>
    </div>
    <div class="form-group text-center">
      <br>
      <button class="btn btn-primary btn-lg"  (click)="onReset()">
        Request a password reset</button>
    </div>
  </div>
</div>
</ion-content>